---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=f8656d18c61e5252e9cc4980473085fa&format=json&method=flickr.photos.search&nojsoncallback=1&safe_search=1&text=dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1253,"perpage":100,"total":125222,"photo":[{"id":"52094384615","owner":"167843027@N08","secret":"5209c669c7","server":"65535","farm":66,"title":"waiting
        for dogwalker","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52093711828","owner":"23713973@N06","secret":"bdcee7bec6","server":"65535","farm":66,"title":"Slapshot","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52093602368","owner":"48505131@N02","secret":"cedc9b66eb","server":"65535","farm":66,"title":"Color
        5K Fun Run","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52092561302","owner":"48505131@N02","secret":"d223611819","server":"65535","farm":66,"title":"Color
        5K Fun Run","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52092[...]
