---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=f8656d18c61e5252e9cc4980473085fa&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=10&safe_search=1&text=dogs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"photos":{"page":1,"pages":12610,"perpage":10,"total":126091,"photo":[{"id":"52094254814","owner":"57014418@N00","secret":"2eda03fcf7","server":"65535","farm":66,"title":"001eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094254619","owner":"57014418@N00","secret":"c3b323f460","server":"65535","farm":66,"title":"002eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52092991637","owner":"57014418@N00","secret":"8ed09b38df","server":"65535","farm":66,"title":"005eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094017901","owner":"57014418@N00","secret":"40b021824b","server":"65535","farm":66,"title":"007eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094254234","owner":"57014418@N00","secret":"38901a402b","server":"65535","farm":66,"title":"008eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094033898","owner":"57014418@N00","secret":"7f6ab252bb","server":"65535","farm":66,"title":"009eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094516220","owner":"57014418@N00","secret":"096c718b6d","server":"65535","farm":66,"title":"010eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094516155","owner":"57014418@N00","secret":"18634c4d2d","server":"65535","farm":66,"title":"011eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094516095","owner":"57014418@N00","secret":"981e413962","server":"65535","farm":66,"title":"012eFB","ispublic":1,"isfriend":0,"isfamily":0},{"id":"52094253904","owner":"57014418@N00","secret":"9a79a14731","server":"65535","farm":66,"title":"013eFB","ispublic":1,"isfriend":0,"isfamily":0}]},"stat":"ok"}'
  recorded_at: Mon, 23 May 2022 17:48:45 GMT
[...]
